html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --background-color: #efeeee;
  --text-color: black;
  --alternative-text-color: white;
  --link-color: #2d2dff;
  --hover-color: orange;
  --header-back-color: white;
  --accent-color: #007aff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

.fullwidth {
  width: 100%;
}
