html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --background-color: #efeeee;
  --text-color: black;
  --alternative-text-color: white;
  --link-color: #2d2dff;
  --hover-color: orange;
  --header-back-color: white;
  --accent-color: #007aff;

  --img-smallest: 32px;
  --img-small: 64px;
  --img-middle: 128px;
  --img-big: 256px;
  --img-biggest: 512px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

.fullwidth {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.center-block {
  margin: 0 auto;
}

.img-smallest {
  width: var(--img-smallest);
  height: var(--img-smallest);
}

.img-small {
  width: var(--img-small);
  height: var(--img-small);
}

.img-middle {
  width: var(--img-middle);
  height: var(--img-middle);
}

.img-big {
  width: var(--img-big);
  height: var(--img-biggest);
}

.img-biggest {
  width: var(--img-biggest);
  height: var(--img-biggest);
}

.component-header {
  text-align: center;
}
