.header-carousel {
  margin-bottom: 20px;
}

.header-carousel img {
  height: 100px;
  margin: 0 auto;
}

.header-carousel .carousel-inner {
  border: 2px solid black;
}

.header-carousel .carousel-item.active {
  display: flex !important;
  justify-content: center;
}

.header-carousel-3 .carousel-inner {
  white-space: nowrap;
  overflow-x: auto;
  display: block;
  scroll-behavior: smooth;
  transition: scroll 0.5s ease-in-out;
}

.header-carousel-3 .carousel-item {
  display: inline-block !important;
  float: none;
  width: fit-content;
  margin: 0 10px;
}
/*👉.header-carousel-3 .carousel-inner::-webkit-scrollbar {
    ➡ Hide the scrollbar in WebKit browsers ⬅
    display: none;
  }👈*/
